.DS_Store
.dart_tool/

.packages
.pub/
.idea
.vscode

build/

.flutter-plugins
**/android/key.properties

*.iml
.idea

**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java